/* Add your code in each class */
body {

  background-color: #3c096c;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.movie-card {
  align-items: end;
  display: flex;

  text-align: left;
  color: white;
  background-image: url(./harrypotter.jpg);
  height: 250px;
  width: 275px;
  background-size: cover;
  margin: auto;
  position: absolute;


}

/* .movie-image {
  height: 300px;
  object-fit: cover;
  object-position: 80% 100%;
} */

.movie-details-container {
  position: absolute;
  padding: 15px;

}

.descriptions {
  font-weight: lighter;
  font-size: small;


}

/*A gift from us!*/
/*
  This gradient was made by this website https://cssgradient.io/
*/
.movie-shadow {
  position: absolute;
  height: 100%;
  width: 100%;


  background: rgb(0, 0, 0);
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(0, 0, 0, 0) 100%);
}

.movie-title {
  font-size: large;
  font-weight: bold;

}